{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1> {{juoma.nimi}}<small> drinkkiresepti</small></h1>

<dl>
    <dt> Lisääjä: </dt>
    <dd> {{juoma.kayttaja_id}}</dd>
    <dt> Lisäyspäivämäärä:</dt>
    <dd> {{juoma.lisayspvm}}</dd>
</dl>
<dl>
    <dt>Kuvaus</dt>
    <dd>{{juoma.kuvaus}}</dd>
</dl>
<dl>
    <dt>Aineosat</dt>
</dl>

{% for aine in aineet%}
<dl class="dl-horizontal">

    <dd> {{aine.ainesosa}}</dd>

    <dd> {{aine.ainesosa}}</dd>

    <dd> {{aine.ainesosa}}</dd>
</dl>
{%endfor%}
<form method="post" action="{{base_path}}/drink/{{juoma.id}}/destroy" class="destroy-form" 
      data-confirm="Oletko varma, että haluat poistaa juoman?">
    {{forms.destroy_button("#{base_path}/drink/#{juoma.id}/destroy")}}
</form>
{% endblock %}