{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1> {{juoma.nimi}}<small> drinkkiresepti</small></h1>

<dl>
    <dt> Lisäyspäivämäärä:</dt>
    <dd> {{juoma.lisayspvm}}</dd>
</dl>
<dl>
    <dt>Kuvaus</dt>
    <dd>{{juoma.kuvaus}}</dd>
</dl>

<dl> 
    <dt>Aineosat</dt>
</dl>
{% for ainesosat in ainesosat%}
<dl> 
    <dd> {{ainesosat.ainesosa}}</dd>
</dl>
{%endfor%}
<a href="{{base_path}}/drink/{{juoma.id}}/ainesosa" class="btn btn-success">Lisää ainesosa</a>
<form method="post" action="{{base_path}}/drink/{{juoma.id}}/destroy" class="destroy-form" 
      data-confirm="Oletko varma, että haluat poistaa juoman?">
    {{forms.destroy_button("#{base_path}/drink/#{juoma.id}/destroy")}}
</form>
{% endblock %}