{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Haku</h1>
{%if user_logged_in %}

<form method="post" action="{{base_path}}/drink/search" class="form-horizontal">
    <div class="form-group">   
        <input type="text" class="form-control" name="hakusana">
    </div>
</form>
<a href="{{base_path}}/drink/drink_searchlist" class="btn btn-success">Etsi!</a>
{% else %}
Kirjaudu sisään nähdäksesi drinkkien ohjeet.
<p>
    <a href="{{base_path}}/login" class="btn btn-success">Kirjaudu sisään</a>
<p/>
{% endif %}
{% endblock %}