{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Drinkkien ohjeet</h1>
Kirjaudu sisään nähdäksesi drinkkien ohjeet.

{% if user_logged_in %}
<p>   
    <a href="{{base_path}}/drink_new" class="btn btn-success">Lisää drinkki</a>
    <a href="{{base_path}}/drink_new" class="btn btn-success">Ehdota drinkkiä</a>
</p>

<table class="table table-condensed">
    <thead>
        <tr class="success">
            <th>Nimi</th>
            <th>Lisäyspäivä</th>
            <th>Lisääjä</th>
            <th>Ainesosat</th>
            <th>Juomalaji</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for juoma in juomat %}
        <tr>
            <td><a href="{{base_path}}/drink/{{juoma.id}}">{{juoma.nimi}}</a></td>
            <td>{{juoma.lisayspvm}}</td>
            <td>{{juoma.kayttaja_id}}</td>         
            <td>{{ainesosa.ainesosa}}</td>                        
            <td>{{juoma.juomalaji}}</td>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/drink/{{juoma.id}}/edit">Muokkaa</a></th>
        </tr>   
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
