{% extends "base.html" %}
{% block content %}
<h1><a href="{{base_path}}/juoma/{{juoma.id}}">{{juoma.nimi}}</a> <small> drinkkiresepti</small></h1>

<dl class="dl-horizontal">
    <dt> Lisääjä: </dt>
    <dd> {{juoma.kayttaja_id}}</dd>
    <dt> Lisäyspäivämäärä</dt>
    <dd> {{juoma.lisayspvm}}</dd>
</dl>
<dl>
    <dt>Kuvaus</dt>
    <dd>{{juoma.kuvaus}}</dd>
</dl>
<dl>
    <dt>Aineosat</dt>
</dl>
<dl class="dl-horizontal">
    <dt> X cl</dt>
    <dd> 1.ainesosa</dd>
    <dt> X cl</dt>
    <dd> 2.ainesosa</dd>
    <dt> X cl</dt>
    <dd> 3.ainesosa</dd>
</dl>

{% endblock %}