{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Ainesosat</h1>
<div>
    <h3 class="text-success">{{message_green}}</h3>
</div>
<div>
    <h3 class="text-danger">{{message_red}}</h3>
</div>
{%if user_logged_in %}
<table class="table table-condensed">
    <thead>
        <tr class="success">
            <th>Nimi</th>            
        </tr>
    </thead>
    <tbody>
        {% for ainesosa in aineet %}
        <tr>
            <td>{{ainesosa.ainesosa}}</td>
        </tr>   
        {% endfor %}
    </tbody>
</table>
<p>
    <a href="{{base_path}}/drink_new" class="btn btn-success">Lisää drinkki</a>
<p/>
{% else %}
Kirjaudu sisään nähdäksesi ainelistan.
<p>
    <a href="{{base_path}}/login" class="btn btn-success">Kirjaudu sisään</a>
<p/>
{% endif %}
{% endblock %}
