{% extends "base.html" %}
{% block content %}

<h1>Ainesosat</h1>

{% if user_logged_in %}
<table class="table table-condensed">
    <thead>
        <tr class="success">
            <th>Nimi</th>            
        </tr>
    </thead>

    <tbody>
        {% for ainesosa in aineet %}
        <tr>
            <td>{{ainesosa.ainesosa}}</td>
        </tr>   
        {% endfor %}
    </tbody>
</table>
<p>
    <a href="{{base_path}}/drink_new" class="btn btn-success">Lisää drinkki</a>
<p/>
{% endif %}
{% endblock %}