{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Käyttäjät</h1>
Vain ylläpitäjälle näkyvä sivu.
{% for user in users %}
{{user.yllapitaja}}
{% if admin %}
halooo
{% endif %}
{% endfor %}


<table class="table table-condensed">
    <thead>
        <tr class="success">
            <th>Nimi</th> 
            <th>Yllapitaja</th> 
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{base_path}}/user/{{user.id}}">{{user.nimimerkki}}</a></td>
            <td>{{user.yllapitaja}}</td>                       
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/user/{{user.id}}/user_rights">Anna oikeudet</a></th>
        </tr>   
        {% endfor %}
    </tbody>
</table>


{% endblock %}