{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Käyttäjät</h1>

Vain ylläpitäjälle näkyvä sivu.

<div>
    <p><b>{{message}}</b><p/>
</div>

{% if user_logged_in %}
<table class="table table-condensed">
    <thead>
        <tr class="success">
            <th>Nimi</th> 
            <th>Yllapitaja</th> 
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{base_path}}/user/{{user.id}}">{{user.nimimerkki}}</a></td>
            <td>{{user.yllapitaja}}</td>                       
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/user/{{user.id}}/user_rights">Anna oikeudet</a></th>
        </tr>   
        {% endfor %}
    </tbody>
</table>

{% else %}
Kirjaudu sisään.
<p>
    <a href="{{base_path}}/login" class="btn btn-success">Kirjaudu sisään</a>
<p/>

{% endif %}

{% endblock %}