{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Käyttäjätiedot</h1>
{%if user_logged_in %}
<dl>
    <dt> Nimimerkki: </dt>
    <dd> {{user.nimimerkki}}</dd>
    <dt> Salasana:</dt>
    <dd> {{user.salasana}}</dd>
    <dt> Yllapitaja:</dt>
    <dd> {{user.yllapitaja}}</dd>
</dl>

<p>
    <a class="btn btn-success" href="{{base_path}}/user/{{user.id}}/user_edit">Muokkaa</a>
</p>

<form method="post" action="{{base_path}}/user/{{user.id}}/destroy" class="destroy-form" 
      data-confirm="Oletko varma, että haluat poistaa käyttäjätunnuksen?">
    {{forms.destroy_button("#{base_path}/user/#{user.id}/destroy")}}
</form>

{% else %}
Kirjaudu sisään nähdäksesi käyttäjätietosi.
<p>
    <a href="{{base_path}}/login" class="btn btn-success">Kirjaudu sisään</a>
<p/>
{% endif %}
{% endblock %}