{% extends "base.html" %}
{% block content %}

{%if user_logged_in %}
<h1>Tervetuloa takaisin {{user.nimimerkki}}!</h1>
<p> 
    <a href="{{base_path}}/user/user_show" class="btn btn-success">Käyttäjätiedot</a>
    <a href="{{base_path}}/user/{{user_logged_in.id}}/user_edit" class="btn btn-success">Muokkaa tietoja</a>
</p> 
{% endif %}

<h1>Tervetuloa Drinkkiarkistoon!</h1>
<p> 
    <a href="{{base_path}}/login" class="btn btn-success">Kirjaudu sisään</a>
    <a href="{{base_path}}/user_new" class="btn btn-success">Rekisteröidy!</a>
</p> 
{% endblock %}
