{% extends "base.html" %}
{% block content %}
  <h1>Drinkkien ohjeet</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää drinkki</a>
  </p>

  <table class="table table-condensed">
    <thead>
      <tr class="success">
        <th>Nimi</th>
        <th>Lisäyspäivä</th>
        <th>Lisääjä</th>
        <th>Ainesosat</th>
        <th>Juomalaji</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">juomannimi</a></td>
        <td>päivämäärä</td>
        <td>nimimerkki</td>        
        <td>aine, aine, ...</td>
        <td>alkujuoma</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
      <tr>
        <td><a href="#">juomannimi</a></td>
        <td>päivämäärä</td>
        <td>nimimerkki</td>        
        <td>aine, aine, ...</td>
        <td>alkujuoma</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
      <tr>
        <td><a href="#">juomannimi</a></td>
        <td>päivämäärä</td>
        <td>nimimerkki</td>        
        <td>aine, aine, ...</td>
        <td>alkujuoma</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
